@media only screen and (max-width: 48em){
    
.mobile-hide{display:none !important}
}
@media only screen and (min-width: 48em) and (max-width: 55em){

    .medium-hide{display:none !important
    }
}
@media only screen and (min-width: 55em){
    .large-hide{display:none !important
    }
}
html{font-family:"Oswald",Calibri;font-size:62.5%;line-height:1.5
    }
@media only screen and (min-width: 48em){
    html{font-size:120%}
}
@media only screen and (min-width: 55em){
    html{font-size:120%}
}
.row{position:relative;margin:0 auto}
.row:before,.row:after{content:" ";display:table}
.row:after{clear:both}
.row 
.row{width:auto;margin:0 -15px}

@media only screen and (min-width: 70em){
    .row{max-width:1120px}
}

.columns,
.column{position:relative;float:left;padding:0 1rem}

@media only screen and (min-width: 48em){
    .columns,
    .column{padding:0 15px}}
    .row-center{text-align:center}
    .row-center 
    .columns{display:inline-block;letter-spacing:0;vertical-align:top;float:none}
    .row-center.va-middle 
    .columns{vertical-align:middle}
    .row-center.va-bottom 
    .columns{vertical-align:bottom}
    .row-center.va-middle 
    .columns{vertical-align:middle}
    .row-center
    .va-bottom 
    .columns{vertical-align:bottom}
    .check-device{display:none;width:1px}
    .span-1{width:8.33333%}
    .push-1{left:8.33333%}
    .pull-1{right:8.33333%}
    .offset-1{margin-left:8.33333%}
    .span-2{width:16.66667%}
    .push-2{left:16.66667%}
    .pull-2{right:16.66667%}
    .offset-2{margin-left:16.66667%}
    .span-3{width:25%}
    .push-3{left:25%}
    .pull-3{right:25%}
    .offset-3{margin-left:25%}
    .span-4{width:33.33333%}
    .push-4{left:33.33333%}
    .pull-4{right:33.33333%}
    .offset-4{margin-left:33.33333%}
    .span-5{width:41.66667%}
    .push-5{left:41.66667%}
    .pull-5{right:41.66667%}
    .offset-5{margin-left:41.66667%}
    .span-6{width:50%}
    .push-6{left:50%}
    .pull-6{right:50%}
    .offset-6{margin-left:50%}
    .span-7{width:58.33333%}
    .push-7{left:58.33333%}
    .pull-7{right:58.33333%}
    .offset-7{margin-left:58.33333%}
    .span-8{width:66.66667%}
    .push-8{left:66.66667%}
    .pull-8{right:66.66667%}
    .offset-8{margin-left:66.66667%}
    .span-9{width:75%}
    .push-9{left:75%}
    .pull-9{right:75%}
    .offset-9{margin-left:75%}
    .span-10{width:83.33333%}
    .push-10{left:83.33333%}
    .pull-10{right:83.33333%}
    .offset-10{margin-left:83.33333%}
    .span-11{width:91.66667%}
    .push-11{left:91.66667%}
    .pull-11{right:91.66667%}
    .offset-11{margin-left:91.66667%}
    .span-12{width:100%}
    .push-12{left:100%}
    .pull-12{right:100%}
    .offset-12{margin-left:100%}
    .mobile-1{width:50%}
    .mobile-2{width:100%}
    
@media only screen and (min-width: 48em){
    .check-device{display:none;width:2px}
    .span-m-1{width:8.33333%}
    .push-m-1{left:8.33333%}
    .pull-m-1{right:8.33333%}
    .offset-m-1{margin-left:8.33333%}
    .span-m-2{width:16.66667%}
    .push-m-2{left:16.66667%}
    .pull-m-2{right:16.66667%}
    .offset-m-2{margin-left:16.66667%}
    .span-m-3{width:25%}
    .push-m-3{left:25%}
    .pull-m-3{right:25%}
    .offset-m-3{margin-left:25%}
    .span-m-4{width:33.33333%}
    .push-m-4{left:33.33333%}
    .pull-m-4{right:33.33333%}
    .offset-m-4{margin-left:33.33333%}
    .span-m-5{width:41.66667%}
    .push-m-5{left:41.66667%}
    .pull-m-5{right:41.66667%}
    .offset-m-5{margin-left:41.66667%}
    .span-m-6{width:50%}
    .push-m-6{left:50%}
    .pull-m-6{right:50%}
    .offset-m-6{margin-left:50%}
    .span-m-7{width:58.33333%}
    .push-m-7{left:58.33333%}
    .pull-m-7{right:58.33333%}
    .offset-m-7{margin-left:58.33333%}
    .span-m-8{width:66.66667%}
    .push-m-8{left:66.66667%}
    .pull-m-8{right:66.66667%}
    .offset-m-8{margin-left:66.66667%}
    .span-m-9{width:75%}
    .push-m-9{left:75%}
    .pull-m-9{right:75%}
    .offset-m-9{margin-left:75%}
    .span-m-10{width:83.33333%}
    .push-m-10{left:83.33333%}
    .pull-m-10{right:83.33333%}
    .offset-m-10{margin-left:83.33333%}
    .span-m-11{width:91.66667%}
    .push-m-11{left:91.66667%}
    .pull-m-11{right:91.66667%}
    .offset-m-11{margin-left:91.66667%}
    .span-m-12{width:100%}
    .push-m-12{left:100%}
    .pull-m-12{right:100%}
    .offset-m-12{margin-left:100%}
    .medium-1{width:16.66667%}
    .medium-push-1{left:16.66667%}
    .medium-pull-1{right:16.66667%}
    .medium-offset-1{margin-left:16.66667%}
    .medium-2{width:33.33333%}
    .medium-push-2{left:33.33333%}
    .medium-pull-2{right:33.33333%}
    .medium-offset-2{margin-left:33.33333%}
    .medium-3{width:50%}
    .medium-push-3{left:50%}
    .medium-pull-3{right:50%}
    .medium-offset-3{margin-left:50%}
    .medium-4{width:66.66667%}
    .medium-push-4{left:66.66667%}
    .medium-pull-4{right:66.66667%}
    .medium-offset-4{margin-left:66.66667%}
    .medium-5{width:83.33333%}
    .medium-push-5{left:83.33333%}
    .medium-pull-5{right:83.33333%}
    .medium-offset-5{margin-left:83.33333%}
    .medium-6{width:100%}.medium-push-6{left:100%}
    .medium-pull-6{right:100%}
    .medium-offset-6{margin-left:100%}
}

@media only screen and (min-width: 55em){
    .check-device{display:none;width:3px}
    .span-l-1{width:8.33333%}
    .push-l-1{left:8.33333%}
    .pull-l-1{right:8.33333%}
    .offset-l-1{margin-left:8.33333%}
    .span-l-2{width:16.66667%}
    .push-l-2{left:16.66667%}
    .pull-l-2{right:16.66667%}
    .offset-l-2{margin-left:16.66667%}
    .span-l-3{width:25%}
    .push-l-3{left:25%}
    .pull-l-3{right:25%}
    .offset-l-3{margin-left:25%}
    .span-l-4{width:33.33333%}
    .push-l-4{left:33.33333%}
    .pull-l-4{right:33.33333%}
    .offset-l-4{margin-left:33.33333%}
    .span-l-5{width:41.66667%}
    .push-l-5{left:41.66667%}
    .pull-l-5{right:41.66667%}
    .offset-l-5{margin-left:41.66667%}
    .span-l-6{width:50%}
    .push-l-6{left:50%}
    .pull-l-6{right:50%}
    .offset-l-6{margin-left:50%}
    .span-l-7{width:58.33333%}
    .push-l-7{left:58.33333%}
    .pull-l-7{right:58.33333%}
    .offset-l-7{margin-left:58.33333%}
    .span-l-8{width:66.66667%}
    .push-l-8{left:66.66667%}
    .pull-l-8{right:66.66667%}
    .offset-l-8{margin-left:66.66667%}
    .span-l-9{width:75%}
    .push-l-9{left:75%}
    .pull-l-9{right:75%}
    .offset-l-9{margin-left:75%}
    .span-l-10{width:83.33333%}
    .push-l-10{left:83.33333%}
    .pull-l-10{right:83.33333%}
    .offset-l-10{margin-left:83.33333%}
    .span-l-11{width:91.66667%}
    .push-l-11{left:91.66667%}
    .pull-l-11{right:91.66667%}
    .offset-l-11{margin-left:91.66667%}
    .span-l-12{width:100%}
    .push-l-12{left:100%}
    .pull-l-12{right:100%}
    .offset-l-12{margin-left:100%}
}
@media only screen and (min-width: 70em){
    .check-device{display:none;width:4px}
    .span-ll-1{width:8.33333%}
    .push-ll-1{left:8.33333%}
    .pull-ll-1{right:8.33333%}
    .offset-ll-1{margin-left:8.33333%}
    .span-ll-2{width:16.66667%}
    .push-ll-2{left:16.66667%}
    .pull-ll-2{right:16.66667%}
    .offset-ll-2{margin-left:16.66667%}
    .span-ll-3{width:25%}
    .push-ll-3{left:25%}
    .pull-ll-3{right:25%}
    .offset-ll-3{margin-left:25%}
    .span-ll-4{width:33.33333%}
    .push-ll-4{left:33.33333%}
    .pull-ll-4{right:33.33333%}
    .offset-ll-4{margin-left:33.33333%}
    .span-ll-5{width:41.66667%}
    .push-ll-5{left:41.66667%}
    .pull-ll-5{right:41.66667%}
    .offset-ll-5{margin-left:41.66667%}
    .span-ll-6{width:50%}
    .push-ll-6{left:50%}
    .pull-ll-6{right:50%}
    .offset-ll-6{margin-left:50%}
    .span-ll-7{width:58.33333%}
    .push-ll-7{left:58.33333%}
    .pull-ll-7{right:58.33333%}
    .offset-ll-7{margin-left:58.33333%}
    .span-ll-8{width:66.66667%}
    .push-ll-8{left:66.66667%}
    .pull-ll-8{right:66.66667%}
    .offset-ll-8{margin-left:66.66667%}
    .span-ll-9{width:75%}
    .push-ll-9{left:75%}
    .pull-ll-9{right:75%}
    .offset-ll-9{margin-left:75%}
    .span-ll-10{width:83.33333%}
    .push-ll-10{left:83.33333%}
    .pull-ll-10{right:83.33333%}
    .offset-ll-10{margin-left:83.33333%}
    .span-ll-11{width:91.66667%}
    .push-ll-11{left:91.66667%}
    .pull-ll-11{right:91.66667%}
    .offset-ll-11{margin-left:91.66667%}
    .span-ll-12{width:100%}
    .push-ll-12{left:100%}
    .pull-ll-12{right:100%}
    .offset-ll-12{margin-left:100%}
} 

@media only screen and (min-width: 80em){
        .check-device{display:none;width:5px}
        .span-xl-1{width:8.33333%}
        .push-xl-1{left:8.33333%}
        .pull-xl-1{right:8.33333%}
        .offset-xl-1{margin-left:8.33333%}
        .span-xl-2{width:16.66667%}
        .push-xl-2{left:16.66667%}
        .pull-xl-2{right:16.66667%}
        .offset-xl-2{margin-left:16.66667%}
        .span-xl-3{width:25%}
        .push-xl-3{left:25%}
        .pull-xl-3{right:25%}
        .offset-xl-3{margin-left:25%}
        .span-xl-4{width:33.33333%}
        .push-xl-4{left:33.33333%}
        .pull-xl-4{right:33.33333%}
        .offset-xl-4{margin-left:33.33333%}
        .span-xl-5{width:41.66667%}
        .push-xl-5{left:41.66667%}
        .pull-xl-5{right:41.66667%}
        .offset-xl-5{margin-left:41.66667%}
        .span-xl-6{width:50%}
        .push-xl-6{left:50%}
        .pull-xl-6{right:50%}
        .offset-xl-6{margin-left:50%}
        .span-xl-7{width:58.33333%}
        .push-xl-7{left:58.33333%}
        .pull-xl-7{right:58.33333%}
        .offset-xl-7{margin-left:58.33333%}
        .span-xl-8{width:66.66667%}
        .push-xl-8{left:66.66667%}
        .pull-xl-8{right:66.66667%}
        .offset-xl-8{margin-left:66.66667%}
        .span-xl-9{width:75%}
        .push-xl-9{left:75%}
        .pull-xl-9{right:75%}
        .offset-xl-9{margin-left:75%}
        .span-xl-10{width:83.33333%}
        .push-xl-10{left:83.33333%}
        .pull-xl-10{right:83.33333%}
        .offset-xl-10{margin-left:83.33333%}
        .span-xl-11{width:91.66667%}
        .push-xl-11{left:91.66667%}
        .pull-xl-11{right:91.66667%}
        .offset-xl-11{margin-left:91.66667%}
        .span-xl-12{width:100%}
        .push-xl-12{left:100%}
        .pull-xl-12{right:100%}
        .offset-xl-12{margin-left:100%}
    }
    *,
    *:before,
    *:after{box-sizing:border-box}
    *{-webkit-font-smoothing:antialiased;font-smoothing:antialiased}
    
    html,
    body{overflow-x:hidden}
    a{text-decoration:none}
    p{margin:0}
    ul,
    li{margin:0;padding:0;list-style:none}
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{margin:0;padding:0}
    hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
    audio,
    canvas,
    iframe,
    img,
    svg,
    video{vertical-align:middle}
    fieldset{border:0;margin:0;padding:0}
    input{-webkit-appearance:none;border-radius:0}
    textarea{resize:vertical}
    button{border:none;background:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;outline:none;tap-highlight-color:transparent}
    .browserupgrade{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}
    .section{padding:2rem 0 2rem 0}
    .section-title{margin-bottom:.5rem;font-size:3rem;color:#fff;font-family:"Pacifico"}
    .section-title-darker{color:#2F2F2F}
    .form 
    .input-wrapper{margin:1em 0;padding:1em 0}
    .form 
    .input-wrapper
    .checkbox 
    .input-label{margin-right:1rem}
    .form 
    .input{width:100%;height:1.5em;border:2px solid #EEE9E9;border-radius:5px;font-size:1.3em;-webkit-transition:border-color .25s;transition:border-color .25s}
    .form .input:hover{border-color:#97fcff}
    .form 
    .input-left{text-align:left}
    .form 
    .select{border:2px solid #7deaf8;border-radius:5px}
    .form 
    .label-span{font-size:2em;font-weight:500;display:block;margin:5px;text-align:left}
    .form 
    .input-label{margin:2em 0}
    .form 
    .textarea{height:9em}
    .hidden{display:none !important}
    .visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
    .visuallyhidden
    .focusable:active,
    .visuallyhidden
    .focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
    .invisible{visibility:hidden}
    .cf:before,
    .cf:after{content:" ";display:table}
    .cf:after{clear:both}
    .page-header{font-size:1rem}
    
    @media only screen and (min-width: 48em){
        .page-header{font-size:.8rem}
    }
    
    @media only screen and (min-width: 55em){
        .page-header{font-size:.5rem}
    }
    
    .loader-container{font-side:1rem}
    
    @media only screen and (min-width: 48em){
        .loader-container{font-size:1.5rem}
    }
    
    .hero-area{font-size:1rem}
    .section-skills{font-size:1rem}
    
    @media only screen and (min-width: 48em){
        .section-skills{font-size:1.2rem}
    }
    
    @media only screen and (min-width: 55em){
        .section-skills{font-size:1rem}
    }
    
    .section-works{font-size:1rem}
    .form{font-size:1rem}
    
    @media only screen and (min-width: 55em){
        .form{font-size:.8rem}
    }
    
    .main-bg{background:rgba(155, 204, 212, 0.85);
        position:fixed;top:0;left:0;z-index:1;width:100%;height:100%}
        .page-content{position:relative;z-index:2}
        .page-header{position:fixed;z-index:9999;width:100%;max-height:9em;-webkit-transition:max-height .5s, opacity .5s, background .5s;transition:max-height .5s, opacity .5s, background .5s;overflow:hidden}
        .page-header
        .hide-header{max-height:0}
        .page-header
        .page-header-darker{background:rgba(0,0,0,0.5)}
        .page-header
        .page-header-lighter{background:rgba(181,203,197,0.6)}
        .page-header 
        .nav 
        .menu-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;padding:1em 0}
        .page-header 
        .nav 
        .menu-item{position:relative;margin:.5em 0}
        .page-header 
        .nav 
        .menu-item 
        .menu-link{display:block;padding:.5em;position:relative;font-size:1.6em;color:#fff;text-transform:uppercase;text-align:center;-webkit-transition:all .5s;transition:all .5s}
        .page-header 
        .nav 
        .menu-item 
        .menu-link:before,
        .page-header 
        .nav 
        .menu-item 
        .menu-link:after{content:'';width:100%;height:.1em;background:#fff;position:absolute;left:0;-webkit-transform:scale3d(0, 1, 1);transform:scale3d(0, 1, 1);-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s, -webkit-transform .3s}
        .page-header 
        .nav 
        .menu-item 
        .menu-link:before{top:0;-webkit-transform-origin:0% 50%;transform-origin:0% 50%}
        .page-header 
        .nav 
        .menu-item 
        .menu-link:after{bottom:0;-webkit-transform-origin:100% 50%;transform-origin:100% 50%}
        .page-header 
        .nav 
        .menu-item:before,
        .page-header 
        .nav 
        .menu-item:after{content:'';width:.2em;height:100%;position:absolute;top:0;background:#fff;-webkit-transform:scale3d(1, 0, 1);transform:scale3d(1, 0, 1);-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s, -webkit-transform .3s}
        .page-header 
        .nav 
        .menu-item:before{left:0;-webkit-transform-origin:50% 100%;transform-origin:50% 100%}
        .page-header 
        .nav 
        .menu-item:after{right:0;-webkit-transform-origin:50% 0%;transform-origin:50% 0%}
        .page-header 
        .nav 
        .menu-item.menu-item-current 
        .menu-link:before,
        .page-header 
        .nav 
        .menu-item.menu-item-current 
        .menu-link:after{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);-webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);-webkit-transition-duration:.6s;transition-duration:.6s}
        .page-header 
        .nav 
        .menu-item.menu-item-current:before,
        .page-header 
        .nav 
        .menu-item
        .menu-item-current:after{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);-webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);-webkit-transition-duration:.3s;transition-duration:.3s}
        .hero-area{position:relative;top:0;left:0;height:100vh;width:100%}
        
        @media only screen and (max-width: 48em){
            .hero-area{-webkit-transition:height 100000000s ease;transition:height 100000000s ease}
        }
        
        @media only screen and (min-width: 48em) and (max-width: 55em){
            .hero-area{-webkit-transition:height 100000000s ease;transition:height 100000000s ease}
        }
        
        .hero-area 
        .hero-area-field{position:absolute;top:0;left:0;width:100%;height:100%}
        .hero-area 
        .hero-area-wrapper{position:absolute;top:0;left:0;z-index:2;width:100%;height:100%}
        .hero-area 
        .hero-title{margin:30vh auto 0 auto;font-family:"Pacifico";color:#fff;font-size:4em}
        
        @media only screen and (max-width: 48em){
            .hero-area 
            .hero-title{-webkit-transition:margin 100000000s ease;transition:margin 100000000s ease}
        }
        
        @media only screen and (min-width: 48em) and (max-width: 55em){
            .hero-area .hero-title{-webkit-transition:margin 100000000s ease;transition:margin 100000000s ease}
        }
        
        .hero-area 
        .hero-desc{font-size:2em;color:#fff;font-weight:500;text-transform:uppercase}
        .section-about{width:100%;min-height:100vh}
        @media only screen and (max-width: 48em){
            .section-about{-webkit-transition:min-height 100000000s ease;transition:min-height 100000000s ease}
        }
        
        @media only screen and (min-width: 48em) and (max-width: 55em){
            .section-about{-webkit-transition:min-height 100000000s ease;transition:min-height 100000000s ease}
        }
        
        @media only screen and (min-width: 48em){
            .section-about{min-height:100vh}
        }
        
        .section-about 
        .about-para-wrapper{margin-top:2vh}
        .section-about 
        .about-para{font-size:1.5em;color:#fff}
        .section-about 
        .slider{position:relative;overflow:hidden}
        .section-about 
        .slider 
        .slider-wrapper{overflow:hidden;position:relative;height:30vh;margin:2vh 0}
        
        @media only screen and (max-width: 48em){
            .section-about 
            .slider 
            .slider-wrapper{-webkit-transition:height 100000000s ease,margin 100000000s ease;transition:height 100000000s ease,margin 100000000s ease}
        }
        
        @media only screen and (min-width: 48em) and (max-width: 55em){
            .section-about 
            .slider 
            .slider-wrapper{-webkit-transition:height 100000000s ease,margin 100000000s ease;transition:height 100000000s ease,margin 100000000s ease}
        }
        
        .section-about 
        .slider 
        .slider-inner{position:absolute;top:0;left:50%}
        .section-about 
        .slider 
        .slider-inner-cell{position:absolute;top:0;left:-1000px;width:2000px;height:10px}
        .section-about 
        .slider 
        .slider-li{position:relative;top:2rem;-webkit-transform:translateZ(0);transform:translateZ(0)}
        .section-about 
        .slider .slider-li a{display:block;text-align:center}
        .section-about 
        .slider 
        .cell-img{position:absolute;top:0;left:0;min-width:20vh;height:25vh;background-size:100%;background-repeat:no-repeat}
        
        @media only screen and (max-width: 48em){
            .section-about 
            .slider 
            .cell-img{-webkit-transition:height 100000000s ease,min-width 100000000s ease;transition:height 100000000s ease,min-width 100000000s ease}
        }
        
        @media only screen and (min-width: 48em) and (max-width: 55em){
            .section-about 
            .slider 
            .cell-img{-webkit-transition:height 100000000s ease,min-width 100000000s ease;transition:height 100000000s ease,min-width 100000000s ease}
        }
        
        .section-about 
        .slider 
        .slider-arrow{color:#fff;font-size:3em;opacity:.7;margin:.2rem;cursor:pointer;-webkit-transition:opacity .5s;transition:opacity .5s}
        
        @media only screen and (min-width: 55em){
            .section-about 
            .slider 
            .slider-arrow{font-size:2em}
        }
        
        .section-about .slider .slider-arrow:hover{opacity:1}
        .section-about .slider .slider-arrow-wrapper{position:relative;text-align:center}
        .section-about .slider .slider-caption{text-align:center;font-size:3em;color:#fff;text-transform:uppercase}
        
        @media only screen and (min-width: 48em){
            .section-about 
            .slider 
            .slider-blur{display:block;position:absolute;width:6rem;height:100%;top:-43px;-webkit-filter:blur(5px);filter:blur(5px)}
        }
        
        @media only screen and (min-width: 48em){
            .section-about .slider .slider-blur.slider-blur-left{left:-2%}
        }
        
        @media only screen and (min-width: 70em){
            .section-about .slider .slider-blur.slider-blur-left{left:0}
        }
        
        @media only screen and (min-width: 48em){
            .section-about .slider .slider-blur.slider-blur-right{right:0}
        }
        
        @media only screen and (min-width: 70em){
            .section-about .slider .slider-blur.slider-blur-right{right:0}
        }
        
        .section-skills{position:relative;width:100%;min-height:100vh}
        
        @media only screen and (max-width: 48em){
            .section-skills{-webkit-transition:min-height 100000000s ease;transition:min-height 100000000s ease}
        }
        
        @media only screen and (min-width: 48em) and (max-width: 55em){
            .section-skills{-webkit-transition:min-height 100000000s ease;transition:min-height 100000000s ease}
        }
        
        @media only screen and (min-width: 48em){
            .section-skills{min-height:100vh}
        }
        
        .section-skills 
        .section-skills-wrapper{margin-top:2rem}
        .section-skills 
        .section-skills-heading{text-align:center;font-size:1.5em;text-transform:uppercase;color:#fff}
        .section-skills 
        .section-skills-divider{position:absolute;top:0;left:50%;width:.5em;height:100%;margin-left:-3px;background:#fff}
        .section-skills 
        .section-skills-skill-innder{margin-top:1em}
        .section-skills 
        .skill-bar-wrapper{margin-top:.5em}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-desc{color:#fff;font-size:1em;font-weight:500}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-desc-left{text-align:left}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-desc-right{text-align:right}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-box{position:relative;background:#fff;height:2em;border-radius:3px}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-box 
        .skill-bar-num{position:absolute;top:0;color:#fff;font-size:1.5em}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-box 
        .skill-bar-num-right{right:10%}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-box 
        .skill-bar-num-left{left:10%}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-box 
        .skill-bar{height:100%;width:0%;background:#f18276;border-radius:3px;-webkit-animation:expandWidth 2s cubic-bezier(0.45, 0.32, 0.72, 0.87);animation:expandWidth 2s cubic-bezier(0.45, 0.32, 0.72, 0.87)}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-box 
        .skill-bar-right{float:right}
        .section-skills 
        .skill-bar-wrapper 
        .skill-bar-box 
        .skill-bar-left{float:left}
        .section-works{width:100%;min-height:100vh}

        @media only screen and (max-width: 48em){
            .section-works{-webkit-transition:min-height 100000000s ease;transition:min-height 100000000s ease}
        }
        
        @media only screen and (min-width: 48em) and (max-width: 55em){
            .section-works{-webkit-transition:min-height 100000000s ease;transition:min-height 100000000s ease}
        }
        
        .section-works 
        .works-lists img{width:100%}
        .section-works 
        .work-list{position:relative;margin-top:2rem;cursor:pointer}
        .section-works 
        .work-cover{position:absolute;top:0;left:0;width:90%;height:100%;background:pink;opacity:0;text-align:center;-webkit-transition:all .5s;transition:all .5s}
        .section-works 
        .work-cover:hover{opacity:.8}
        .section-works 
        .work-cover 
        .work-cover-desc{font-size:2em;text-align:center;color:#fff;margin-top:2rem}
        .sec-work-modal-info{margin:3rem 0;position:relative}
        .sec-work-modal-info 
        .modal-item-heading{font-size:.8em;font-family:"Oswald",Calibri;font-weight:500;color:#2F2F2F;text-transform:uppercase}
        .sec-work-modal-info 
        .sec-work-modal-list{margin:1rem 0}
        .modal-item-title{margin-top:1rem;font-size:1.3em;font-family:"Oswald",Calibri;text-transform:uppercase;font-weight:300;color:#2F2F2F}
        
        @media only screen and (min-width: 55em){
            .modal-item-title{margin-top:0;font-size:2em}
        }
        
        .modal-item-desc{font-size:.9em;font-family:"Roboto","Lato";font-weight:400;color:#2F2F2F}
        
        @media only screen and (min-width: 55em){
            .modal-item-desc{max-height:none;overflow:none}
            .modal-item-desc p{margin-top:.5rem}
            .modal-item-desc p:first-child{margin-top:0}
        }
        
        .modal-slier-item-img{width:100%;border-top:1px solid #bfbdbd;border-bottom:1px solid #bfbdbd}
        .modal-item-img-list{margin:2rem 0}
        .modal-item-img{width:100%}
        .work-development-env-wrapper{position:relative}
        .work-development-env-list{display:block;font-size:.9em;font-family:"Roboto","Lato";margin-left:1.5rem}
        .work-development-env-icon{float:left;padding-top:.2rem}
        .work-development-env-list:first-child{margin-top:0}
        .btn-modal{display:inline-block;width:10rem;padding:.5em;font-weight:500;font-size:1em;color:#fff;background:#2F2F2F;border:none;border-radius:3px;text-transform:uppercase;-webkit-transition:all .5s;transition:all .5s;width:5rem;margin-top:1em;padding:.1em;text-align:center}
        .btn-modal .btn-icon{color:#fff;-webkit-transition:all .5s;transition:all .5s}
        .section-contact{min-height:100vh;color:#fff}
        
        @media only screen and (max-width: 48em){
            .section-contact{-webkit-transition:min-height 100000000s ease;transition:min-height 100000000s ease}
        }
        
        @media only screen and (min-width: 48em) and (max-width: 55em){
            .section-contact{-webkit-transition:min-height 100000000s ease;transition:min-height 100000000s ease}
        }
        .section-contact 
        .section-contact-para-wrapper{margin-top:3rem;font-size:1.5em}
        .section-contact 
        .section-contact-btn-wrapper{position:relative;margin:5rem auto 0 auto}
        .section-contact 
        .section-contact-btn{display:inline-block;width:10rem;padding:.5em;font-weight:500;font-size:1em;color:#2F2F2F;background:#fff;border:none;border-radius:3px;text-transform:uppercase;-webkit-transition:all .5s;transition:all .5s}
        .section-contact 
        .section-contact-btn 
        .btn-icon{color:#2F2F2F;-webkit-transition:all .5s;transition:all .5s}
        .section-contact 
        .section-contact-btn:hover{background:#2F2F2F;color:#fff}
        .section-contact 
        .section-contact-btn:hover 
        .btn-icon{color:#fff}
        .section-contact 
        .section-contact-btn-icon{margin-right:.7rem}
        .section-contact 
        .section-contact-para-small{margin-top:2rem;font-size:1em}
        .section-contact 
        .email{margin-left:.5rem;text-decoration:underline}
        .social li{display:inline-block;margin-right:.7rem}
        .social li a{color:#fff;font-size:0;-webkit-transition:all .5s;transition:all .5s}
        .social li a .social-icon{font-size:1.5rem}
        .social-sec{-js-display:flex;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:fixed;left:4%;bottom:5%;z-index:9999999;-webkit-transition:all .5s;transition:all .5s}
        .social-sec:after{content:'';position:absolute;top:0;left:0;width:2.6rem;height:2.6rem;background:rgba(255,255,255,0.3);-webkit-transition:all .25s;transition:all .25s}
        .social-sec.social-sec-darker:after{background:rgba(0,0,0,0.5)}
        .social-sec.active:after{width:11rem}
        .social-sec.active .social{opacity:1;visibility:visible}
        .social-sec .social{opacity:0;visibility:hidden;position:absolute;z-index:99999999;width:10rem;top:50%;left:100%;margin-top:-.8rem;-webkit-transition:all .5s;transition:all .5s}
        .social-sec-icon{padding:.7rem;font-size:1.5rem;color:#fff;cursor:pointer;z-index:10}

        .icon-btn{position:absolute;margin:0;padding:0;overflow:visible}
        .icon-btn svg{left:0}html.modal-open,body.modal-open{overflow:hidden}html.modal-open .modal,
        body.modal-open .modal{overflow-y:scroll}
        .modal{position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;z-index:99999;opacity:0;visibility:hidden;-webkit-perspective:1000px;perspective:1000px;-webkit-transition:opacity .5s, visibility 0s .5s;transition:opacity .5s, visibility 0s .5s}
        .modal.modal-open{opacity:1;visibility:visible;-webkit-transition:opacity .5s;transition:opacity .5s}
        .modal.modal-open .modal-list{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);-webkit-transition:-webkit-transform .5s;transition:-webkit-transform .5s;transition:transform .5s;transition:transform .5s, -webkit-transform .5s}
        .modal 
        .modal-list{width:100%;height:100%;max-width:1120px;margin:0 auto;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:translate3d(0, 0, 150px);transform:translate3d(0, 0, 150px);-webkit-transition:-webkit-transform .5s;transition:-webkit-transform .5s;transition:transform .5s;transition:transform .5s, -webkit-transform .5s;-js-display:flex;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
        
        @media only screen and (min-width: 55em){
            .modal .modal-list{height:auto}
        }
        
        .modal .modal-item{width:90%;visibility:hidden;display:none;background:#fff;padding:1rem 0}
        
        @media only screen and (min-width: 48em){
            .modal .modal-item{padding:15px 0}
        }
        
        @media only screen and (min-width: 55em){
            .modal .modal-item{min-height:100%}
        }
        
        .modal .modal-item.show{visibility:visible;display:block}
        .modal .modal-nav .modal-nav-list{position:absolute;font-size:2em;color:#2F2F2F;opacity:.2;-webkit-transition:all .5s;transition:all .5s}
        .modal .modal-nav .modal-nav-list:hover{opacity:1}
        .modal .modal-nav .modal-nav-list.modal-nav-list-close{right:0;top:0;padding:.3rem}
        
        @media only screen and (min-width: 48em){
            .modal .modal-nav .modal-nav-list.modal-nav-list-close{padding:.5rem}
        }
        
        .modal .modal-nav .modal-nav-list.modal-nav-list-right{right:0;bottom:0}
        .modal .modal-nav .modal-nav-list.modal-nav-list-left{left:0;bottom:0}
        .modal 
        .modal-nav 
        .modal-nav-slider-arrow-wrapper{text-align:center;margin-top:1rem}


        .loader-container{position:fixed;z-index:100000000;top:0;left:0;width:100%;height:100%;background-color:pink}
        .loader-overlay{position:absolute;top:0;left:0;width:100%;height:100%;z-index:10000000000}
        .loader-overlay svg{position:absolute;top:0;left:0;pointer-events:none}
        .loader-overlay svg path{fill:#fff}
        .loader-wrapper{position:relative;top:50%;left:50%;width:20em;height:20em;margin-top:-10em;margin-left:-10em}
        .loader{position:relative;top:50%;left:50%;height:100%;margin-left:-15px;opacity:.5}
        .loader div{position:absolute;width:15px;height:15px;margin:2px;border-radius:100%;background-color:#fff;-webkit-animation-fill-mode:both;animation-fill-mode:both}
        .loader div:nth-child(1){top:25px;left:0;-webkit-animation:loader 1.25s -0.96s infinite linear;animation:loader 1.25s -0.96s infinite linear}
        .loader div:nth-child(2){top:17.04545px;left:17.04545px;-webkit-animation:loader 1.25s -0.84s infinite linear;animation:loader 1.25s -0.84s infinite linear}
        .loader div:nth-child(3){top:0;left:25px;-webkit-animation:loader 1.25s -0.72s infinite linear;animation:loader 1.25s -0.72s infinite linear}
        .loader div:nth-child(4){top:-17.04545px;left:17.04545px;-webkit-animation:loader 1.25s -0.6s infinite linear;animation:loader 1.25s -0.6s infinite linear}
        .loader div:nth-child(5){top:-25px;left:0;-webkit-animation:loader 1.25s -0.48s infinite linear;animation:loader 1.25s -0.48s infinite linear}
        .loader div:nth-child(6){top:-17.04545px;left:-17.04545px;-webkit-animation:loader 1.25s -0.36s infinite linear;animation:loader 1.25s -0.36s infinite linear}
        .loader div:nth-child(7){top:0;left:-25px;-webkit-animation:loader 1.25s -0.24s infinite linear;animation:loader 1.25s -0.24s infinite linear}
        .loader div:nth-child(8){top:17.04545px;left:-17.04545px;-webkit-animation:loader 1.25s -0.12s infinite linear;animation:loader 1.25s -0.12s infinite linear}
        .loader-row{position:relative;width:100%;height:5px;margin:1em auto;background:rgba(0,0,0,0.1);-webkit-transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1);transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1);-webkit-transition-delay:0.1s;transition-delay:0.1s}
        .loader-row:before{content:'';position:absolute;width:100%;height:5px;background:#fff;left:0;top:-1px;-webkit-transform:scale3d(0, 1, 1);transform:scale3d(0, 1, 1);-webkit-transform-origin:0% 50%;transform-origin:0% 50%}
        .load-animate.loader-container{-webkit-transition:all 1s;transition:all 1s;opacity:0;visibility:hidden}
        .load-animate .loader{opacity:0;-webkit-transition:all .1s;transition:all .1s;-webkit-transform:translate3d(0, -20px, 0);transform:translate3d(0, -20px, 0)}
        .load-animate .loader-row{opacity:0;-webkit-transition:all .1s;transition:all .1s;-webkit-transform:translate3d(0, -30px, 0);transform:translate3d(0, -30px, 0)}
        .loading .loader{-webkit-transition:opacity .5s;transition:opacity .5s;opacity:1}
        .loading .loader-row:before{-webkit-transition:-webkit-transform 2s;transition:-webkit-transform 2s;transition:transform 2s;transition:transform 2s, -webkit-transform 2s;-webkit-transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)}
        
        @-webkit-keyframes loader{50%{opacity:.3;-webkit-transform:scale(0.4);transform:scale(0.4)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
    }
    @keyframes loader{50%{opacity:.3;-webkit-transform:scale(0.4);transform:scale(0.4)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
    }
    @-webkit-keyframes expandWidth{from{width:0}}
    @keyframes expandWidth{from{width:0}}
    
    .scroll-list-hide{visibility:hidden}
    .fade-in{-webkit-animation:fade-in 1s;animation:fade-in 1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;visibility:visible}
    
    @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
    @keyframes fade-in{0%{opacity:0}100%{opacity:1}}
    @media print{*,*:before,*:after{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}
    a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,
    img{page-break-inside:avoid}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}
}
    .cssa{position:fixed;top:100px;left:0;z-index:99999}
    .cssa a{width:60px;height:40px;text-indent:-9999px;display:block;background:url("http://www.cssawds.com/ribbons/brand-award-left.png") no-repeat;opacity:1}


